<p>converter works!</p>

<!-- <div>
  <div>
    <input type="number" [(ngModel)]="fromAmount" (input)="onFromAmountChange($event.target.value)">
    <select [(ngModel)]="fromCurrency" (change)="onFromCurrencyChange($event.target.value)">
      <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
    </select>
  </div>
  <div>
    <input type="number" [(ngModel)]="toAmount" (input)="onToAmountChange($event.target.value)">
    <select [(ngModel)]="toCurrency" (change)="onToCurrencyChange($event.target.value)">
      <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
    </select>
  </div>
</div> -->